MBR_API_TOKEN=PASTE_A_RANDOM_TOKEN_HERE
MBR_SERIAL_DEV=/dev/ttyAMA4
MBR_BAUD_RATE=9600
MBR_DATABASE_URL=sqlite:////var/lib/mbusreader/mbr.sqlite3
M2M_CLIENT_CERT=/etc/mbusreader/tls/mbusreader.crt
M2M_CLIENT_KEY=/etc/mbusreader/tls/mbusreader.key
SYNC_DELAY_SECONDS=10